.footer_container {
  display: flex;
  height: 10vh;
  margin-top: 1rem;
  padding: 0.5rem 3.5rem;
}

.footer_bg {
  background-color: #26c6da;
  padding: 2rem 0 3rem;
}

.footer_title {
  color: #ffffff;
  font-size: 40px;
  margin-top: -3rem;
  margin-bottom: -0.2rem;
}

.footer_subtitle {
  color: #ffffff;
  font-size: 15px;
}

.footer_links {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: -6rem;
  margin-left: 14rem;
}

.footer_links > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

.footer_links > li > a:hover {
  cursor: pointer;
  color: #c1c1c1;
}

.footer_copy {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  margin-top: 5rem;
  margin-left: -25rem;
}

.footer_icon {
  display: flex;
  gap: 1rem;
  margin-left: 6rem;
  margin-top: -3rem;
}

@media screen and (max-width: 480px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .footer_links {
    display: none;
  }
  .footer_icon {
    margin-top: 2rem;
    margin-left: 4rem;
  }
}
